<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="javascript/script.js"></script>
  </head>

  <body>
    <header>
        SayThis<span class="bold">NotThat</span>
        <br/>
        <small>A helpful tool for compassionate communication</small>
      </header>
    </div>
    <div class="container">
      <div class="description">
      This is a resource born out of a need to help others say what they really want to say without accidentally using offending language. Users are free to utilize suggestions offered through this resource, and can use this as a learning tool in order to reduce unintentionally harmful effects of their word usage.
      </div>
      <form role="form">
        <div class="form-group">
          <label for="textInput">ENTER TEXT</label>
          <div id="content-area" contenteditable="true"></div>
        </div>
        <script type="text/template" id="category-template">
          <br/><br/><br/>
          <div class="category-list">
              <% _.each( data, function(cat) { %>
                <%= cat.categoryName %> 
                <div class="btn-group btn-toggle">
                  <button class="btn btn-sm btn-primary active">ON</button>
                  <button class="btn btn-sm btn-default">OFF</button>
                </div>
              <% }); %> 
          </div>
        </script>
        <script src="javascript/data.js"></script>
        <script src="javascript/pull.js"></script>

        <button onclick="myFunction()" type="button" class="btn btn-default">Submit</button>
      </form>
      <br/>
      <div id="suggestions"></div>
      
    </div>

  </body>

</html>