body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #B3ECFF;
}

.container {
  color: #101010;
  margin: 0px;
  width: 100%;
  padding: 10px;
  padding-top: 100px;
}

body form label {
  font-weight: 300;
}

body form textarea {
  font-weight: 300;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  text-align: center;
  margin: 0px;
  border-bottom: 0px;
  background-color: #FFFFFF;
  padding-top: 0px;
  font-size: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header.sticky {
  font-size: 20px;
  height: 37px;
  background: #52C9F0;
  text-align: left;
  padding: 5px 20px;
  color: #FFFFFF;
}

header.sticky small {
  display: none;
}

small {
  font-size: 60%;
  color: #52C9F0;
  display: block;
}

.bold {
  font-weight: 500;
}

.identities {
  background-color: #FFD9B0;
}

.genderinclusion {
  background-color: #E5FFB0;
}

.militaristic {
  background-color: #B8B0D1;
}

#content-area {
  background-color: white;
  height: 200px;
  overflow: scroll;
}